{% extends "base.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row">

        <!-- Left Sidebar -->
        <aside class="col-lg-2 p-0">

            {% include "partials/sidebar.html" %}

        </aside>

        <!-- Main Feed -->

        <main class="col-lg-7 py-4">

            <div id="postsContainer">

            </div>

        </main>

        <!-- AI Panel -->

        <aside class="col-lg-3 py-4">

            {% include "partials/rightpanel.html" %}

        </aside>

    </div>

</div>

{% endblock %}


{% block extra_js %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}